<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.Azure.ResourceProvider.Authorization" version="5.8.6" targetFramework="net472" />
  <package id="Microsoft.Azure.ResourceProvider.Common" version="5.8.6" targetFramework="net472" />
  <package id="Microsoft.Azure.ResourceProvider.Contracts" version="5.8.6" targetFramework="net472" />
  <package id="Microsoft.Azure.ResourceProvider.Routing" version="5.8.6" targetFramework="net472" />
  <package id="Microsoft.AzureStack.AzureBridge.Common" version="2.1.58" targetFramework="net472" />
  <package id="Microsoft.AzureStack.AzureBridge.Common.Arm" version="2.1.58" targetFramework="net472" />
  <package id="Microsoft.AzureStack.Services.RemoteManagement.CoreLib" version="1.0.32" targetFramework="net472" />
  <package id="Microsoft.AzureStack.Services.RemoteManagement.CoreLib.Contracts" version="1.0.32" targetFramework="net472" />
  <package id="Microsoft.AzureStack.Services.RemoteManagement.CoreLibStorage" version="1.0.32" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="4.5.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net472" />
  <package id="ResourceStack.Storage.Client" version="6.0.0.506" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.1" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net472" />
</packages>